#wrap {
	display: block;
	width: 80%;
	margin: 0 auto;
}

#user {
	display: block;
	width: 100%;
	clear: both;
	background: #eee;
}
#user .menu {
	display: inline-block;
	margin-left: 20px;
	padding: 10px 5px 10px 5px;
	color: #0066ff;
	text-decoration: none;
}
#user .menu:hover {
	background: #0066ff;
	color: #fff;
}

#user .menu:last-child {
	margin-left: 50%;
	text-decoration: none;
	background: #0066ff;
	color: #fff;
}

#entries {
	display: block;
	width: 930px;
	margin: 200px auto;
	
}

#entries_mess {
	display: block;
	width: 930px;
	margin: 0 auto;
}

#entries a, #entries_mess a {
	display: inline-block;
	margin: 0 10px;
	padding: 5px;
	border: 1px solid #0066ff;
	color: #0066ff;
	text-decoration: none;
	font-family: "Courier", sans-serif;
	font-weight: bold;
}
#entries a:hover, #entries_mess a:hover  {
	background: #0066ff;
	border: 1px solid #0066ff;
	color: #fff;
}

.message {
	display: block;
	width: 50%;
}
.message a {
	display: block;
	float: right;
}


.comment {
	display: none;
	margin-left: 100px;
}

.comment_text {
	display: block;
	margin-left: 100px;
	background: #cce5ff;
}
.comment_text_full {
	margin-left: 50px;
}

.replication_text {
	display: block;
	margin-left: 100px;
	background: #ffffcc;
}
