{% extends 'index.html' %}
{% block entries %}
	<div id="entries">
		<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http%3A%2F%2F127.0.0.1:8000&response_type=code&client_id=810999809566-72vf8dq3616ouqog9b79775emtha3lpg.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile" title="Войти через Google">Sign in using Google account</a>
		<a href="https://oauth.vk.com/authorize?client_id=5530897&redirect_uri=http://127.0.0.1:8000/vk&response_type=code" title="Войти через vk">Sign in using VK account</a>
		<a href="https://www.facebook.com/dialog/oauth?client_id=1750834195204961&redirect_uri=http%3A%2F%2F127.0.0.1:8000%2Ffb" title="Войти через facebook">Sign in using facebook account</a>
	</div>
{% endblock %}
