{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded">
    <title>Messanger</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
  </head>
  <body>
	<div id="wrap">
		<div id="user">
			<a class="menu" href="/">home</a>
			<a class="menu" href="/messages/">messages</a>
			{% if request.user.is_authenticated %}
				<a class="menu" href="/exit/">exit</a>
				<p class="menu">hello, {{ user.username }}</p>
			{% else %}
				<p class="menu">hello, guest</p>
			{% endif %}
		</div><br><br>
		{% block entries %}{% endblock %}
		{% block content %}{% endblock %}	
	</div>  
  </body>
</html>
