{% extends 'index.html' %}
{% block content %}
		<div id="mess_comm">
			{% if request.user.is_authenticated %}
				 <form method="POST">
				    {% csrf_token %}
				    <textarea name="message" placeholder="Enter your message here" style="width:500px; height:70px;"></textarea>
				    <button type="submit">send</button>
				 </form>
				{% for m in messages %}
				    <br>
				    <div class="message">
					<b>{{ m.time }}</b>
					{% if user.id == m.user_id %}
						<a href="/delmess/{{ m.id }}/"><img src="/static/img/close.png" height="25px" /></a>
					{% endif %}
					<p>{{ m.message }}</p>
					<a class="show_comment_win" href="#">add comment</a>
					<div class="comment">
					    <form method="GET">
				                {% csrf_token %}
				                <textarea name="comment" placeholder="reply to a message" style="width:350px; height:50px;"></textarea>
						<input type="hidden" name="message_id" value="{{ m.id }}">
				                <input class="reply" type="submit" value="reply">
				            </form>
					</div><br>
					<div class="comment_text">
					    {% for c in comments %}
						{% if c.message_id == m.id %}
							<i style="font-size: 12px">{{ m.time }}</i>
							{% if user.id == m.user_id %}
								<a href="/delcomm/{{ c.id }}/"><img src="/static/img/close.png" height="20px" /></a>
							{% endif %}
							<p class="comment_text_full">{{ c.comment }}</p>
							<a class="show_comment_win" href="#">reply</a>
							<div class="comment">
							    <form method="GET">
								{% csrf_token %}
								<textarea name="replication" placeholder="reply to a message" style="width:300px; height:50px;"></textarea>
								<input type="hidden" name="comment_id" value="{{ c.id }}">
								<input type="hidden" name="message_id" value="{{ m.id }}">
								<input class="reply" type="submit" value="reply">
							    </form>
							</div><br>
							<div class="replication_text">
							    {% for r in replications %}
								{% if r.comment_id == c.id %}
									<i style="font-size: 12px">{{ r.time }}</i>
									{% if user.id == m.user_id %}
										<a href="/delrepl/{{ r.id }}/"><img src="/static/img/close.png" height="15px" /></a>
									{% endif %}
									<p class="comment_text_full">{{ r.replication }}</p>
								{% endif %}
							    {% endfor %}
							</div>
						{% endif %}
					    {% endfor %}
					</div>
				      <hr>
				    </div>
				    <br>
				{% endfor %}
			{% else %}
				<p><i>To send messages and comment them you need to sign in</i></p>
				<div id="entries_mess">
					<a href="https://accounts.google.com/o/oauth2/auth?redirect_uri=http%3A%2F%2F127.0.0.1:8000&response_type=code&client_id=810999809566-72vf8dq3616ouqog9b79775emtha3lpg.apps.googleusercontent.com&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile" title="Войти через Google">Sign in using Google account</a>
					<a href="https://oauth.vk.com/authorize?client_id=5530897&redirect_uri=http://127.0.0.1:8000/vk&response_type=code" title="Войти через vk">Sign in using VK account</a>
					<a href="https://www.facebook.com/dialog/oauth?client_id=1750834195204961&redirect_uri=http%3A%2F%2F127.0.0.1:8000%2Ffb" title="Войти через facebook">Sign in using facebook account</a>
				</div>
				<br><br><br><br>
				{% for m in messages %}
				    <div class="message">
					<b>{{ m.time }}</b>
					<p>{{ m.message }}</p>		    
					 <div class="comment_text">
					     {% for c in comments %}
						 {% if c.message_id == m.id %}
							 <p style="font-size: 12px">{{ m.time }}</p>
							 <p class="comment_text_full">{{ c.comment }}</p>
								<div class="replication_text">
								    {% for r in replications %}
									{% if r.comment_id == c.id %}
										<p style="font-size: 12px"><i>{{ r.time }}</i></p>
										<p class="comment_text_full">{{ r.replication }}</p>
									{% endif %}
								    {% endfor %}
								</div>
						  {% endif %}
					     {% endfor %}
					 </div>  
					<hr>
				    </div> 
				{% endfor %}
			{% endif %}
		</div>
{% endblock %}
